.ingredient {
    padding: 1rem 0;
    border-bottom: 1px dashed lightgray;
}

.ingredient:first-child {
    padding-top: 0;
}

.ingredient:last-child {
    border-bottom: none;
    padding-bottom: 0;
}
