.jumbotron.banner {
    background-size: cover; 
    background-position: center;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    margin-bottom: 1rem;
}

.banner__text {
    background: rgba(255, 255, 255, 0.75);
    padding: 1rem;
    border-radius: 0.5rem;
}
